<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>{{site.data.settings.client.name}}</h4>
			</div>
		</div>
	<div class="row">
		<div class="about-container">
		<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">

				<div class="client-image-container">
					<img src="/img/meaghan.jpg" alt="Meaghan McPherson" class="client-image" />
				</div><br />
				<strong>Meaghan McPherson</strong>
			</div>

			<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">

					<div class="client-image-container">
						<img src="/img/jennifer.jpg" alt="Jennifer McPherson" class="client-image" />
					</div><br />
					<strong>Jennifer McPherson</strong>
				</div>

				<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">

						<div class="client-image-container">
							<img src="/img/kathy.jpg" alt="Kathy McPherson" class="client-image" />
						</div><br />
						<strong>Kathy McPherson</strong>
				</div>
	</div>
</div>
</div>
